.btn-info{
     margin-right: 10px;
     margin-top: 10px;
     width: 190px;
     font-size: 14px;
     margin-left: 10px;
   }
   .age{
     width: 100px; 
   }
   .inp{
     display: block;
     width: 310px;
     margin-left: 10px;
     margin-top: 15px;
     color: white;
   }
   .inp2{
     display: block;
     width: 310px;
     margin-left: 20px;
     margin-top: 10px;
     color: white;
   }
   .inp3{
   
     width: 370px;
     margin-left: 20px;
     margin-top: 10px;
     color: white;
   }
   