<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     
</head>
<body>
     <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
          <div class="container-fluid">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
               <li class="nav-item">
                    <a class="nav-link" routerLink="/reception/doctor-appointment">Doctor Appointment قائمه مواعيد الطبيب </a>
                  </li>
               <li class="nav-item">
                    <a class="nav-link" routerLink="/reception/appointment">Appointment حجز المواعيد</a>
                  </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/reception/reception-details">Reception الاستقبال</a>
                </li>
                
               
            
             
                
              
              </ul>
            </div>
          </div>
        </nav>  
        <router-outlet></router-outlet>  
</body>
</html>

