<div class="container"> 
     <div class="row">
         <div class="col-sm-12 col-md-4 my-3 workItem show-workItem catB" *ngFor="let patient of patientModel" (click)="onSelect(dog)"  style="border-radius: 25px; width: 425px;height: 300px;">
           <div class="img-container m-0 p-0 shadow-sm">
           
             <div class="overlay d-flex flex-column align-items-center justify-content-center" style="border-radius: 25px; width: 425px;height: 300px; margin-left: 22px;background-color: beige;">
               <h2>{{patient.name}}</h2>
               <p class="d-block small ">{{patient.age}} EGP</p>
             </div>
           </div>
         </div>
       </div>
     </div>
       <button class="btn first" style="margin-left: 150px;cursor: pointer;margin-bottom: 50px;" (click)="back()">Back</button>
       <br>
       <br>
       <br>
