.option{
    
     width: 200px;
     height: 120px;
     color: whitesmoke;
     background-color: rgb(133, 77, 185);
    margin-top: 20px;
 padding: 2px;
     border-radius: 10%;
     outline: none;
  box-sizing: border-box;

}
.fas{
color: rgb(243, 235, 235);
font-size: 70px !important;
text-align: center;
display: block;
}
.option:hover{
background-color: rgb(77, 28, 122);
transform: scale(1.1, 1.1);
text-transform: capitalize;
transition: 0.3s;
}