<div class="container-fluid">
     <div class="row">
          <div class="col-sm-4">
               
          </div>
          <div class="col-sm-4">
               
         </div>
         <div class="col-sm-4">
              <div class="option"routerLink="/reception">
                   <i class="fas fa-briefcase-medical" ></i>
                   <p>Reciption  الاستقبال</p>
              </div> 
              <div class="option" routerLink="/doctor">
                   <i class="fas fa-user-md"></i>
                   <p>Doctor  الطبيب</p>
              </div> 
         </div>
     </div>
    
    
    </div>
    
