<!DOCTYPE html>
<html lang="en">
<head>
     <meta charset="UTF-8">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
 
</head>
<body>
  <nav class="navbar navbar-expand-lg navbar-light bg-light">
    <a class="navbar-brand" href="#">Navbar</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
  
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav mr-auto">
        <li class="nav-item active">
          <a class="nav-link" href="#">Home <span class="sr-only">(current)</span></a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#">Link</a>
        </li>
        <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown
          </a>
          <div class="dropdown-menu" aria-labelledby="navbarDropdown">
            <a class="dropdown-item" routerLink="/dashboard/add-assistant">Add assistant</a>
            <a class="dropdown-item" routerLink="/dashboard/add-doctor">Add doctor</a>
            <div class="dropdown-divider"></div>
            <a class="dropdown-item" href="#">Something else here</a>
          </div>
        </li>
        <!-- <li class="nav-item">
          <a class="nav-link disabled" href="#">Disabled</a>
        </li> -->
      </ul>
      <form class="form-inline my-2 my-lg-0">
        <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
    </div>
  </nav>
<br>
<br>
<br>
<br>
     <!-- <nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
          <div class="container-fluid">
            
            <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive">
              <span class="navbar-toggler-icon"></span>
            </button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
              <ul class="navbar-nav ml-auto">
                <li class="nav-item">
                  <a class="nav-link" routerLink="/">Home</a>
                </li>
                
                <li class="nav-item">
                  <a class="nav-link" routerLink="/add-new-assistant">Booking</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/add-new-assistant">Archives</a>
                </li>
                <li class="nav-item">
                  <a class="nav-link" routerLink="/login"></a>
                </li>
                
              
              </ul>
            </div>
          </div>
        </nav> -->
      <br>
     <div class="container-fluid">
          <div class="row">
               <div class="col-sm-4">
                    <div class="doctor_icon" routerLink="/login"><i class="fas fa-user-md"></i>
                    <p class="font">Clinic doctor</p>
                    <p class="font">عياده الطبيب</p>
                    </div>
               </div>
               <div class="col-sm-4" routerLink="/doctor">
                    <div class="doctor_icon"><i class="fas fa-clinic-medical" ></i></div>
               </div>
               <div class="col-sm-4">
                    <div class="doctor_icon"><i class="fas fa-notes-medical"></i></div>
               </div>
          </div>
     </div>
</body>
</html>

